Repository toybz/angular-note-app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, styleLint

eslint:
  run: npx eslint {staged_files}

styleLint:
  run: npx stylelint {staged_files}

chore: add prettier to lefthook task
  .prettierrc.json
  lefthook.yml
Due: none

chore: add prettier to lefthook task
  lefthook.yml
Due: none

chore: add files normalisation to git
  .gitattributes
Due: none

update application name
  angular.json
  src/app/pages/notes/share-note-dialog/share-note-dialog.component.html
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

update build directory
  .gitignore
  angular.json
Due: none

build
  .gitignore
  docs/3rdpartylicenses.txt
  docs/browser/chunk-FHFOR4XJ.js
  docs/browser/chunk-FJ7MS32N.js
  docs/browser/chunk-GNEFEJG6.js
  docs/browser/chunk-IZDZWGML.js
  docs/browser/chunk-JWMPN2PA.js
  docs/browser/chunk-QS3G44M5.js
  docs/browser/chunk-RMPGOJBJ.js
  docs/browser/chunk-VE6FU4XZ.js
  docs/browser/chunk-WXI33M2S.js
  docs/browser/favicon.ico
  docs/browser/index.html
  docs/browser/main-MBZ6LWC7.js
  docs/browser/polyfills-S3BTP7ME.js
  docs/browser/styles-B77EWHGJ.css
Due: eslint, styleLint

Update index.html
  docs/browser/index.html
Due: none

update app title
  docs/browser/index.html
  src/index.html
Due: none

update app name
  README.md
  src/app/components/header/header.component.ts
Due: eslint

update app name
  README.md
  docs/browser/chunk-FJ7MS32N.js
  docs/browser/chunk-JWMPN2PA.js
  docs/browser/chunk-LAJUDMLL.js
  docs/browser/chunk-QS3G44M5.js
  docs/browser/chunk-WATDPV7F.js
  docs/browser/chunk-XFJE4YKG.js
  docs/browser/index.html
  docs/browser/main-HQJVVSCS.js
  docs/browser/main-MBZ6LWC7.js
  src/app/components/header/header.component.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  styleLint: any of: *.{css, scss}
